

.serv{
 
 border-color: rgb(138, 23, 40);
 border-style: double;
  height:fit-content;
  border-radius: 0%;
  color:white;
  background-color: rgb(199, 196, 196);
  margin-top: 1%;

}

.collapseDescription{
  margin-top:2%;
  margin-bottom:2%;
font-size: 138%;
  text-align: center;
  color:rgb(108, 39, 30);
  text-decoration: solid;

}

i{
height: fit-content;
}

.toggleBtn{
  color:white;
  margin:.5%;
  font-family: 'Thasadith';
  padding-top: 4%;
  text-align: center;
  margin-top: 2%;
  margin-bottom:0;
  padding: 0;
letter-spacing: 8px;
word-spacing: 20px;
}
.toggleBtn:hover{
  color: rgb(138, 23, 40);

}
.btn1{
  padding: 2%;
    text-align: end;
  }
  // .btn{
  //   text-align: center;
  // outline: none;
  //   margin: 1%;
  //   padding: 0;
  //     background-color:  rgb(199, 196, 196) ;
  //     border-radius: 0%;
    
      
  // }


  .arrow{
    color:white;

  }
  #underLineContainer{
    display: flex;
align-items: center;
  }

.titleUnderline{
margin: 0px 100px 0px 100px;

border-bottom: 1px solid black;
}
  h3{


  }






// DO THIS CENTERING OF BUTTON BETTER 
.profBtnContainer{
  margin: 1%;

justify-content: center;

}

.profBtn{
vertical-align: middle;
text-align: center;
  margin:auto;
  display: flex;
  font-weight:1000;
  background-color: black;
  color:white;
height: fit-content;
width:36%;
font-size: 4vh;
font-family: "Poiret One";
justify-content: center;
}
.profBtn:hover{
  background-color:white;
  color:black;

}
