.btn1{
    text-align: end;
  }
  .btn{
    margin: .5%;
     border-width: 10px;
      background-color:  rgb(199, 196, 196) ;
      border-radius: 0%;
      width: 4vw;
//    height: fit-content;
  }

  .arrow{
    color:white;

  }