

.serv{
 
 border-color: rgb(138, 23, 40);
 border-style: double;
  height:fit-content;
  border-radius: 0%;
  color:white;
  background-color: rgb(199, 196, 196);
  margin-top: 1%;

}

i{
height: fit-content;
}

.toggleBtn{
  color:white;
  margin:.5%;
}
.toggleBtn:hover{
  color: rgb(138, 23, 40);
  margin:.5%;
}
.btn1{
  padding: 2%;
    text-align: end;
  }
  .btn{
  outline: none;
    margin: .5%;
    padding: 0;
      background-color:  rgb(199, 196, 196) ;
      border-radius: 0%;
    
      
  }


  .arrow{
    color:white;

  }
  #underLineContainer{
    display: flex;
align-items: center;
  }

.titleUnderline{
margin: 0px 250px 20px;

border-bottom: 1px solid black;
}
  h3{

    margin-top: 2%;
    margin-bottom:0;
    padding: 0;
  letter-spacing: 8px;
  word-spacing: 20px;
  }

h3:hover{

color:rgb(138, 23, 40);
}

.profBtnContainer{
margin: 2px 525px 2px;
}

#profBtn{
background-color:rgb(138, 23, 40);
}
  // button{
 
  //   width: 8vw;
  //   border: none;
  //   background:none;
  // }