
.modal-container{
position:fixed;
height: 100vh;
width: 100vw;
padding: 0;
// background-color: yellow;
// position: fixed;
top:0;


z-index: 4000;
// color:yellow
}
.locationTitle{
    color:white;
//   color: rgb(138, 23, 40);
  font-size: 5vh;
  font-weight: 600;
  margin:.5%;
  font-family: 'Thasadith';
  padding-top: 4%;
  text-align: center;
  margin-top: 2%;
  margin-bottom:0;
  padding: 0;
letter-spacing: 8px;
word-spacing: 20px;
}
.modal-content{
// position: fixed;
display: flex;
align-items: center;
justify-content: center;
overflow-y: scroll;

background-color: rgba(0,0,0,.8);
// padding: 20px;
border: 40px solid rgba(149, 168, 90, 1);
width: 100vw;
height: 100vh;
z-index: 5000;
}
.modal-template{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.overlay{
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: 'rgba(0, 0, 0, .7)';
    // display: fixed;
//   justify-content: center;
//   align-items: center;
    width:100%;
    height:100%;

// background-color: rbga(0,0,0,8);
z-index: 40000;
}
.profName{
    font-family:Anton;
 font-size:28px;
    margin-left:4%;
    margin-bottom: 2%;
    height: 4vh;
}
.buissnessName{
    font-family:Sacramento;
    font-size:300px;
    margin-left:4%;
color:rgb(138, 23, 40);
// height:40px;

text-decoration-color: white;
}

.buisnessTitle{
    font-size:12vh;
}

.nameText{


    color:white;
    width: fit-content;
    background-color:black;
 height: fit-content;

}

#nameText{
margin-top:8%;
margin:5%;
}


.SM{

    margin: 2%;


}
.fa-brands:hover{
    color:rgb(138, 23, 40);
}

.fa-brands{
color: rgba(149, 168, 90, 1)
}
.fa-envelope {
    color: rgba(149, 168, 90, 1) 
}
.fa-envelope:hover{
    color:rgb(138, 23, 40);
}
.porfName{
    margin: 5%;
}
.profLocation{
    margin:4%;
}
.profBio{

    text-align: center;
    width: 100%;
    margin:auto;
}
.bioText{
font-family: "Thasadith";
}
.modalImage-container{
padding:0%;
}
#modalImage{
padding-left: 8%;

}

.profGal-container{
  max-height: 10px;

    max-width: 3vh;
}
.profGallery{
justify-content: center;
    max-height: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.galleryImages{


}
.modalImages{
    margin:4vh;
    max-height: 75vh;
    max-width: 75vw;

}
