.serv-background1 {
    position: sticky;
    background-image: url('../../../public/assets/bg2.jpg');

    background-repeat: no-repeat;
    background-size: 100%;
    height: 84vh;
    width: 100vw;

}

.wrapper {
    width: 100%;
    background-color: white;
    height: fit-content;
    margin-top: 0;
    padding-top: 0;
}

.serv-bg1-container {
    margin: 0;
    height: fit-content;
}

.service-background-img {
    height: fit-content;
    margin-top: 0;
    padding-top: 0;
    background-image: url('../../../public/assets/bg1.png');

}

h1 {}

.servicesTitle {
    font-weight: 500;

    font-family: 'Amatic SC';
    font-size: 20vh;

    text-align: center;
}

.servTitle{
    font-size: 10vh;
}

h3 {

    font-family: 'Thasadith';
    padding-top: 4%;
    text-align: center;
}


.service-card {
    padding: 2%;
}

.container2 {
    margin-top: 0;
    margin-right: 0;
    padding-top: 0;
    height: fit-content;

}



.tryButton {
    height: fit-content;
    background-color: black;
}

@media(max-width:1050px) {
    .wrapper {}

    .serv-background1 {
        height: 40vh;
    }




}