.contact-background{
    background-image: url('../../../public/assets/handsAir.jpg');
   height: 1100px;
   background-size: 100%;
background-repeat: no-repeat;
}


.Form{
    display: block;
}
.Input{
    box-sizing: border-box;
}

.flower-background{
    height: 3600px;
    background-image: url('../../../public/assets/flowerbg.jpg');
}
