.contact-background {
    background-image: url('../../../public/assets/work3.png');
    height: 119vh;
    background-size: 100%;
    width: 100vw;
    background-repeat: no-repeat;

}

.contactRow-1 {
    justify-content: center;
}

.contactRow-2 {
    justify-content: center;
}


.formBackground {

    height: fit-content;
    background-repeat: no-repeat;
    background-image: url('../../../public/assets/bg1.png');
    width: 100vw;


    // background-image:url('../../../public/assets/bg1.png');
    background-repeat: no-repeat;
}

.headerBackground {
    width: 100vw;
    background-image: url('../../../public/assets/bg1.png');
}

.inquery-text-area {
    font-family: 'Thasadith';
    border-radius: 0;
    border-color: rgb(138, 23, 40);
    border-style: double;
    vertical-align: text-top;
    text-align: left;
    height: 50vh;

}

.inquery-text-area::placeholder {

    position: absolute;
    margin: 0;
    padding: 0;

    #text-area {
        vertical-align: text-top;
    }




}


#exampleEmail::placeholder {
    font-family: 'Thasadith';

}

.interest::selection {
    justify-content: start;
}


#DropdownToggle {
    // color:black;
    background-color: white;
}

.shTitle {
    font-family: 'Bad Script';
}

p {
    font-weight: 200;
    font-family: "Thasadith"
}

.hrsTitle {
    margin-left: 4%;
}

.operationHrs {
    margin-top: 2%;
    margin-left: 4%;
    padding-bottom: 4%;
}

.location1:visited {
    color: black;
}

.location2:visited {
    color: black;
}

.location1:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.location2:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

;


.contact-wrapper2 {
    justify-content: center;
    background-color: white;
    padding-top: 3%;
    padding-left: 15%;
    display: flex;
    width: 100vw;


}

Form {
    width: fit-content;
}

.location1 {
    text-decoration: none;
    font-weight: 200;
    font-family: "Thasadith";
    color: black;
}

.location2 {
    text-decoration: none;
    font-weight: 200;
    font-family: "Thasadith";
    color: black;
}

select {
    margin-bottom: 2%;
}

#exampleEmail {
    font-family: "Thasadith";
    color: #8f8989;
    ;
    height: 8vh;
    border-radius: 0;
    border-color: rgb(138, 23, 40);
    border-style: double;
}


.phNumber {
    padding: 2%;
    color: rgb(138, 23, 40);
    text-align: center;
    font-size: x-large;

}

.phNumber:hover {
    color: rgba(149, 168, 90, 1);
}

#expamplEmail {
    width: 400px;
}

.submitButton {

    background-color: rgb(138, 23, 40);

}

.submitButton:hover {
    background-color: rgba(149, 168, 90, 1);
}

.subBtnRow {
    justify-content: center;
}

.profBtnContainer{
justify-content: center;
}
#profBtn{
background-color: rgb(138, 23, 40);
justify-content: center;
height: fit-content
}

.profBtn:hover{

    background-color: rgba(149, 168, 90, 1);

}


.row {}