.contact-background{
    background-image: url('../../../public/assets/handsAir.jpg');
   height: 1100px;
   background-size: 100%;
background-repeat: no-repeat;
}


.stuff{
    height: 1200px;
}




.flower-background{
    height: 1400px;
    background-image: url('../../../public/assets/flowerbg.jpg');
}
