
#nourish{
    // height: 1600px;
background-color: rgb(183, 151, 163);
color:white;
height: 100vh;
}



.landing-background{
    background-image: url('../../../public/assets/salon2img.png');
   background-repeat: no-repeat;
    background-size: 100%;

}