
#nourish{
    // height: 1600px;
    background-color:rgb(246, 232, 232);
color:white;
height: 100vh;
color:black
}

#text1 {
text-align: right;

}
.text-right{

}
#text2{
    justify-content: center;
    font-size: large;
    color:rgb(138, 23, 40);
  

  
    }
// #text2:hover{
// transform: translate(100%);
// }
.landing-background{
    background-image: url('../../../public/assets/salon2img.png');
 
   background-repeat: no-repeat;
    background-size: 100%;

}

.landing-bbar{

    height:20vh;
    width:100%;
   background-color:   rgba(149,168,90,1);
color:blue;

}

.innerbar-decoration{
    border-color: white;
    border-style: double;
}

