#about{
    color:black;
    height: 1000px;
    background-color:white;
}


.about-background{
    background-image: url('../../../public/assets/salon2img.png');
    // display: grid;

    height: 51vh;
}