#about{
    color:black;
    height: fit-content;
    background-color:white;
}

.about-container{
    width:fit-content;
    margin:0%;
}
.about-background{
    background-image: url('../../../public/assets/work3.png');
    height:119vh;
    background-size: 100%;
 background-repeat: no-repeat;
}


.philoTitle{
margin-top: 0;
background-color:grey;
height:fit-content;
margin-right:0%;
padding: 4%;
width: 100vw;
}


.split-container{
    background-color:white;
    height:fit-content;
}


.philoText{

    text-align: center;
    color:black;
    margin-bottom: 2%;
    
}


.aboutImg{
    background-image: url('../../../public/assets/work3.png');
background-color:pink;

    height: 110vh;
}

.aboutHrsBackground{
    background-image: url('../../../public/assets/bg1.png');
 
    height: 110vh;
}


.partnerBar{



    height: 60vh;
    width: 100vw;
    background-color:grey;


}
.row{
    width: 100vw;
}