#about{
    color:black;
    height: fit-content;
    background-color:white;
}

.about-container{
    width:fit-content;
    margin:0%;
}
.about-background{
    background-image: url('../../../public/assets/work3.png');
    height:68vh;
    background-size: 100%;
 background-repeat: no-repeat;
}


.philoTitle{

background-color: rgb(199, 196, 196);
height:fit-content;
margin-right:0%;
padding: 4%;
width: 100vw;
color:white;
font-weight: 500;

font-family: 'Amatic SC';
font-size: 20vh;

text-align: center;
}
.philo{
    font-family:Monoton;
    margin-top: 0;
    font-size: 10vh;
}


.split-container{
    background-color:white;
    height:fit-content;
}


.philoText{
    background-color: rgb(199, 196, 196);
    text-align: center;
    color:black;

}


.aboutImg{
    background-image: url('../../../public/assets/work3.png');
background-color:pink;

    height: 110vh;
}

.aboutHrsBackground{
    background-image: url('../../../public/assets/bg1.png');
 
    height: 110vh;
}


.partnerBar{


    font-weight: 500;
    
    font-family: 'Amatic SC';
    font-size: 10vh;
    
    text-align: center;

    height: 60vh;
    width: 100vw;
    background-color: rgb(199, 196, 196);

color:white;
}
.row{
    width: 100vw;
}
