


.gallery-background{
    background-image: url('../../../public/assets/work3.png');
   height:119vh;
   background-size: 100%;
background-repeat: no-repeat;
margin-bottom: 0%;
width: 100vw;
}


.galleryTitle{
padding-bottom: 2%;
justify-content: center;
background-color: #3e3e3f;
height: fit-content;
color:white;
width: 100vw;
}


.galleryImg-container{
background-color:#3e3e3f;
width: 100vw;
}

.galleryImg{
    height: fit-content;
}

.col-3{
    height: 350px;

    background-color: white;
    background-image: url('../../../public/assets/work3.png');
}


