


.professional-background{
    background-image: url('../../../public/assets/work3.png');
   height:119vh;
   background-size: 100%;
background-repeat: no-repeat;
margin-bottom: 0%;
}


.professionalTitle{
padding-bottom: 2%;
justify-content: center;
background-color:black;
height: fit-content;
color:white;

}


.professionalImg-container{
background-color:black;

}

.professionalImg{
    height: fit-content;
}

.col-3{
    height: 350px;
    margin: 4%;
    background-color: white;
    background-image: url('../../../public/assets/work3.png');
}


