

#footer {
    display: grid;
    grid-auto-flow: column;
    height: fit-content;
    background-color: #3e3e3f;
    text-align: center;

}

#logo2 {
    margin-left: 0;
    margin-top: 3%;
    
}


// #logo2:hover{
//     box-shadow: 4px 9px #211e1e;
// }
.footerLinks {
    font-family: "Thasadith";
    //   padding-top:18%;
    display: flex;
    justify-content: center;
    grid-auto-flow: column;

}

.socialMedia {
    justify-content: center;
    display: flex;



}

#SM {

    color: white;
}

#SM:hover {
    color: rgb(138, 23, 40),
        // color: #E5C7BC;
}

.footer-card {
    font-family: "Thasadith";
    font-size: small;
    // margin-top: 18%;
    border-style: none;
    background-color: #3e3e3f;
    color: white;
}


.ph {
    color: white;
    text-decoration: none;
}

.ph:hover {
    color: white;
    text-decoration: underline;
}




.FL {


    font-size: small;
    // margin-top: 30px; 
    margin: 1vw;
    color:white;
}

.FL:visited {
    color: white;
}

.FL:hover {
    color: white;
    text-decoration: underline;
}
.FL:focus{
    color:white;
}
.footerPhone:hover {
    text-decoration: underline;
}

.footerPhone {
    font-family: "Thasadith";
}


.landingBar{

    height: 20vh;
    width: 100vw;
    background-color: rgba(149, 168, 90, 1);


}


.contactBar {
    height: 20vh;
    width: 100vw;
    background-color: rgb(138, 23, 40);
}
.row{
    width: 100vw;
}