
.professional-background{
    background-image: url('../../../public/assets/work3.png');
   height:75vh;
   background-size: 100%;
background-repeat: no-repeat;
margin-bottom: 0%;
background-color: black;
width: 100vw;
}


.professionalTitle{
margin-top:0;
padding-top:0;
padding-bottom: 2%;
justify-content: center;
background-color: #3e3e3f;
height: fit-content;
color:black;
width: 100vw;
font-weight:500;
 
font-family:'Amatic SC';
font-size: 10vh;

text-align: center;
}
.profTitle{
font-size: 10vh;
}


.professionalImg-container{
background-color:#3e3e3f;

}
.sectionTitle{
    
    color:white;
text-align: center;
width: 100%;
max-width: 100vw;
}
.galleryImg{
    height: fit-content;
}

.par{
    text-align: center;
    justify-content: center;
    align-content: center;
    // display: grid;
    // grid-template-columns: repeat(3,300px);
    display:grid;
    height: 60vh;
    width: 45vh;
    margin: 20px;
    background-color: white;
    // background-image: url('../../../public/assets/work3.png');
}

.par:hover{
    border: 10px double rgb(138, 23, 40);
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important; /* Firefox, other Gecko */
    box-sizing: border-box !important; /* Opera/IE 8+ */
}



.h2{
    color:yellow;
    font-size: 100px;
}


.professionalImg-container{
    color:white;
   padding-top:1%;
    width: 100vw;
}




.Modal1{
    background-color: yellow;
}



// Image Containers  for each section of professionals
.cosoProfImgContainer{


}

.asheticianProfImgContainer{
    

}
.profTattooIgmContainer{
    margin:1%;

}

.rL{
display: flex;
justify-content: center;
}




.photo{
    display: flex;
}


.modal-container{
    justify-content: center;
    align-items:center;;
}

a{
    color:black;
    font-size: large;
}


.try{
    color:black;
}
// .modal-container{
//     position: absalute;
//  height: 100%;
//  background-color: yellow;
//  // position: fixed;
//  // top:0;
 
 
//  // z-index: 4;
//  // color:yellow
//  }

.profImg{
    height: 100%;
    width: auto;
   -webkit-filter: grayscale(100%);

}



#profImg:hover{
    // -webkit-filter: grayscale(0%);
    
    
}



.col-2{
    background-color: #3e3e3f;
}


