
.professional-background{
    background-image: url('../../../public/assets/work3.png');
   height:119vh;
   background-size: 100%;
background-repeat: no-repeat;
margin-bottom: 0%;
background-color: black;
width: 100vw;
}


.professionalTitle{
padding-bottom: 2%;
justify-content: center;
background-color: #3e3e3f;
height: fit-content;
color:black;
width: 100vw;
}


.professionalImg-container{
background-color:#3e3e3f;

}

.galleryImg{
    height: fit-content;
}

.par{
    display: flex;

    height: 250px;
    margin: 20px;
    background-color: white;
    background-image: url('../../../public/assets/work3.png');
}
.professionalImg-container{
    color:white;
   padding-top:1%;
    width: 100vw;
}
// Image Containers  for each section of professionals
.cosoProfImgContainer{


}

.asheticianProfImgContainer{
    

}
.profTattooIgmContainer{
    margin:1%;

}

.rL{
display: flex;
justify-content: center;
}