*{
    box-sizing: border-box;
}
// .row{
//     width: vw;
// }
.body{
margin: 0;
padding:0;
}
.container{
    width: fit-content;
}
nav{
    z-index: 1;
    position: fixed;
  
    height: 90px;
    top: 0;
    left: 0;
}

.App{
    margin:auto;

}
#footer{
  
    width: 102vw;
}


.footerContainer{
    width: 100vw;
}
.row{
    width: 100vw;
}